<?xml version="1.0"?>
<config>
    <modules>
        <Modulismo_CmsMenu>
            <version>0.1.0</version>
        </Modulismo_CmsMenu>
    </modules>
	<admin>
        <routers>
            <cmsmenu>
                <use>admin</use>
                <args>
                    <module>Modulismo_CmsMenu</module>
                    <frontName>cmsmenu</frontName>
                </args>
            </cmsmenu>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsmenu>
                    <file>cmsmenu.xml</file>
                </cmsmenu>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
        <layout>
            <updates>
                <cmsmenu>
                    <file>cmsmenu.xml</file>
                </cmsmenu>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <cmsmenu>
                <class>Modulismo_CmsMenu_Model</class>
            </cmsmenu>
        </models>
        <helpers>
            <cmsmenu>
                <class>Modulismo_CmsMenu_Helper</class>
            </cmsmenu>
        </helpers>
        <blocks>
            <cmsmenu>
                <class>Modulismo_CmsMenu_Block</class>
            </cmsmenu>
        </blocks>
        <resources>
            <cmsmenu_setup>
                <setup>
                    <module>Modulismo_CmsMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmsmenu_setup>
            <cmsmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmsmenu_write>
            <cmsmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmsmenu_read>
        </resources>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <cmsmenucms_cms_save_page>
                        <type>singleton</type>
                        <class>Modulismo_CmsMenu_Model_Cms_Observer</class>
                        <method>savePage</method>
                    </cmsmenucms_cms_save_page>
                </observers>
            </cms_page_prepare_save>
            
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <cmsmenucms_page_edit_tab_content>
                        <type>singleton</type>
                        <class>Modulismo_CmsMenu_Model_Cms_Observer</class>
                        <method>addCmsFields</method>
                    </cmsmenucms_page_edit_tab_content>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
    </global>
</config>